.project_card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}
.project_card h4{
    background-color: #222;
    color: #ffbb33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}
.project_card p{
    color: #7a7a7a;
    margin-bottom: 1em;
}
.project_card span{
    font-weight: bold;
}
.categoryText{
    display: flex;
    align-items: center;
}
.categoryText span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}
.categoryText .infraestrutura{
    background-color: #ffaebc;
}
.categoryText .desenvolvimento{
    background-color: #a0e7e5;
}
.categoryText .design{
    background-color: #b4f8c8;
}
.categoryText .planejamento{ 
    background-color: #fbe7c6;
}
.project_card_actions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}
.project_card_actions a,
.project_card_actions button{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #fff;
    color: #222;
    font-size: 0.9em;
    padding: .6em 1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.project_card_actions a:hover{
    background-color: #ffbb33;
    color: #ffff;
    font-size: 1em;
    padding: .6.5em 1.5em;
    
}
.project_card_actions button:hover{
    background-color: #ff3333;
    color: #222;
    font-size: 1em;
    padding: .6.5em 1.5em;
}
.project_card_actions svg{
    margin-right: .5em;
}
