.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.formControl label{
    font-weight: bold;
    margin-bottom: .6emC}
.formControl select{
    padding: .9em;
    border: none;
    border-radius: 0;
}
